<h1 style="color: blue; text-align: center;">Table basic</h1>
<app-table-basic></app-table-basic>
<h1 style="color: blue; text-align: center;">Table selection and operation</h1>
<app-table-row-selection-and-operation></app-table-row-selection-and-operation>
<h1 style="color: blue; text-align: center;">Table row selection custom</h1>
<app-table-row-selection-custom></app-table-row-selection-custom>
<h1 style="color: blue; text-align: center;">Filter and sorter</h1>
<app-table-sort-filter></app-table-sort-filter>
<h1 style="color: blue; text-align: center;">Multiple sorter</h1>
<app-table-multiple-sorter></app-table-multiple-sorter>
<h1 style="color: red; text-align: center;">============= Test =============</h1>
<app-test></app-test> 